@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=M+PLUS+Rounded+1c:wght@100&display=swap');
body,html{
    height: 100%;
    width: 100%;
}
.logo{
    margin: 10px 14px;
    
}
.logo img{
    
    width: 10vw;
    height: 5vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    font-size: 1.5rem;
    
}
ul li{
    text-decoration: none;
    display: inline-block ;
    list-style: none;
    padding: 14px;
 
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;

    font-size: larger;
    padding: 5px 10px;
}
ul li select{
    width: 20px;
    color: white;
    background: transparent;
    border: 2px solid white;
    
}
ul li select option{
    color: black;
}
.btn1{
    margin: 5px 0;
    padding: 6px 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn2{
    margin: 5px 0;
    padding: 6px 10px;
    border: 2px ;
    background-color: rgb(0, 102, 255);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.background{
    display: flex;
    height: 123px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px 200px;
}
.background img{
    position: absolute;
    height: 70vh;
    left: 0px;
    top: 0px;
    width: 100vw;
    bottom: 20%;
    z-index: -1;
    opacity: 1;
}
#home h1{
  
    font-size: 2.5rem; 
    text-align: center;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.search{
    cursor: pointer;
    display: flex;
    
  
}
.search input{
    width: 34vw;
    height: 5vh;
    border-radius: 7px;
}
.search img{
    display: flex;

        width: 3vw;
        height: 4vh;
}
.services:hover{
  box-shadow: grey;

}
.services{
    cursor: pointer;
    height: 39vh;
    padding: 280px 94px 10px 0px;
    margin: 19px 11px;
    display: flex;

}
.box{
    
    background-color: rgb(224, 224, 227);
    border: 3px solid white;
    padding: 2px 2px 2px;
    margin: 3px 115px;
    border-radius: 23px;
    margin-bottom: 10px;
}
.box img{
    height: 160px;
    width: 378px;
    margin: auto;
    display: block;
}
.para{
    display: flex;
    padding: 18px 0px 0px 124px;
    font-size: 1.8rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.para h3{
    display: flex;
    padding: 11px 0px 0px 2px;
}
.para h2{
    display: flex;
    padding: 0px 0px 0px 8px;
}
.locality{
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    width: 30vw;
    height: 15vh;
    margin: 5px 0px 0px 123px;
    
}
.locality h3{
    padding: 6px 2px 2px 3px;
    margin: 2px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;

}
.locality p1{
    padding: 1px 2px 1px 3px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
}
.locality select{
    width: 20px;
    float: right;
    margin: 2px 4px 0px 0px;
    border-color: white;
}
#app{
    background-color: rgb(254, 250, 244);
    display: flex;
    width: 100%;
    margin: 115px 0px 0px 0px;
    
}
.phone img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 17rem;
    padding: 94px 0px 104px 280px;
}
.get h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding: 20px 0px 0px 27px;
 
}
.get p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 0px 0px 0px 31px;
    font-size: 1.5rem;
    font-weight: bold;
}
.switches{
    width: 50%;
    height: 4rem;
}
.switches label{
    display: inline-block;
    padding: 0px 0px 0px 31px;
    font-size: 1.3rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}
.emailsearch{
    display: flex;
}
.emailsearch .search label{
    padding: 0px 0px 0px 31px;
    
    width: auto;
}
.emailsearch .search input {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    width: 34vw;
    
}
.btn3{
    margin: 0px 0px 0px 5px;
    padding: 6p 10px;
    border: 2px ;
    background-color: rgb(255, 113, 113);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.pt{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: grey;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 0px 0px 32px;
}
.icon{
    display: flex;
    

}
.icon img{
    padding: 15px 0px 0px 34px;
    width: 193px;
    height: 53px;
}
.other h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2.8rem;
    font-weight: bolder;
    line-height: 4rem;
    padding: 27px 0px 0px 87px;
}
.cuisines{
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    width: 30vw;
    height: 15vh;
    margin: 5px 0px 0px 123px;
}





